<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="/" class="logo" title="Formula 1 app">Formula 1 App</a>
      </div>
      <div class="col-md-6">
       <nav class="menu">
        <label class="menu-open-button" for="menu-open">
         <span class="hamburger hamburger-1"></span>
         <span class="hamburger hamburger-2"></span>
         <span class="hamburger hamburger-3"></span>
        </label>
        <a href="#" class="menu-item" title="home" routerLink="driver-list"> Home </a>
        <a href="#" class="menu-item" title="circuits" routerLink="circuits-list">Circuits List</a>
        <a href="#" class="menu-item" title="constructors" routerLink="constructor-list">Constructors List</a>
        <a href="#" class="menu-item" title="constructors" routerLink="driver-name">Constructors List</a>
       </nav>
      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="row">
       <router-outlet></router-outlet>
    </div>
</div>

